<div class="absolute flex flex-row w-full h-full inset-0 bg-gray-200 space-x-2">

  <div class="flex flex-col h-full bg-gray-800 w-1/6 p-8 text-white">
    <span class="text-2xl mb-4">Farmacêutico</span>
    <div class="rounded-full bg-gray-900">
      <img src="assets/farmaceutico.png" alt="farmaceutico">
    </div>

    <div class="flex flex-col justify-center items-center text-white">
      <span>{{farmaceutico.nome}}</span>
      <span class="font-bold text-gray-200">{{farmaceutico.unidadeDeSaude}}</span>
    </div>
    <div class="mt-4 flex flex-col">
      <ng-container *ngFor="let sideBarItem of farmaceuticoSideBarItens">
        <div *ngIf="selectedSideItem!=sideBarItem.id"
             class="p-1 text-xs text-gray-500 border-b border-gray-500 mb-3 hover:bg-gray-700  hover:cursor-pointer"
             (click)="selectItem(sideBarItem.id)" >
          {{ sideBarItem.name }}
        </div>
        <div *ngIf="selectedSideItem==sideBarItem.id"
             class="p-1 text-xs text-gray-200 border-b border-gray-500 mb-3 bg-gray-700  " >
          {{ sideBarItem.name }}
        </div>
      </ng-container>
    </div>
    <div class="mt-4 flex flex-col">
        <div
             class="p-1 text-xs text-gray-500 border-b border-gray-500 mb-3 hover:bg-gray-700  hover:cursor-pointer"
             [routerLink]="['../']"  >
          Sair
        </div>
    </div>
  </div>
  <div class="flex justify-center items-center bg-gray-200 w-full h-full p-8 space-x-8">
    <div *ngIf="selectedSideItem==0" class="flex flex-col w-1/2 h-full bg-gray-50 rounded-2xl shadow-xl text-gray-800 p-8">
      <span class="text-md font-bold mb-4">Entregar Medicamento</span>
      <div class="flex flex-col space-y-1">
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">CPF do Paciente:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="entregaMedicamento.cpf_paciente"
            [placeholder]="'Informe o CPF'">
        </div>


        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">ID do Medicamento:</span>
          <input
            matInput
            type="number"
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="entregaMedicamento.id_medicamento"
            [placeholder]="'Informe o id'">
        </div>

        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Quantidade do Medicamento:</span>
          <input
            matInput
            type="number"
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="entregaMedicamento.quant_medicamento"
            [placeholder]="'Informe a quantidade'">
        </div>

        <div class="w-full flex flex-col justify-center p-4 space-y-6 ">
          <button class="flex items-center bg-gray-800 hover:bg-gray-900 active:bg-gray-500 text-white font-semibold py-1 px-4 rounded-2xl"  type="button" [matTooltip]="'Generate'" (click)="sendEntregaMedicamento()">
            <span class="text-sm">Realizar Entrega</span>
          </button>

        </div>
      </div>

      <div class="w-full h-full items-end flex flex-row justify-end">

        <img class="w-24" src="assets/medicamento.png">
      </div>
    </div>
    <div *ngIf="selectedSideItem==1" class="flex flex-col w-1/2 h-full bg-gray-50 rounded-2xl shadow-xl text-gray-800 p-8">
      <span class="text-md font-bold mb-4">Criar Requerimento</span>
      <div class="flex flex-col space-y-1">


        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">ID do Medicamento:</span>
          <input
            matInput
            type="number"
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="entregaMedicamento.id_medicamento"
            [placeholder]="'Informe o id'">
        </div>

        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Quantidade do Medicamento:</span>
          <input
            matInput
            type="number"
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="entregaMedicamento.quant_medicamento"
            [placeholder]="'Informe a quantidade'">
        </div>

        <div class="w-full flex flex-col justify-center p-4 space-y-6 ">
          <button class="flex items-center bg-gray-800 hover:bg-gray-900 active:bg-gray-500 text-white font-semibold py-1 px-4 rounded-2xl"  type="button" [matTooltip]="'Create'" (click)="createRequerimento()">
            <span class="text-sm">Criar Requerimento</span>
          </button>
        </div>
      </div>

      <div class="w-full h-full items-end flex flex-row justify-end">

        <img class="w-24" src="assets/receita2.png">
      </div>
    </div>

    <div *ngIf="selectedSideItem==2" class="flex flex-col w-3/4 h-full bg-gray-50 rounded-2xl shadow-xl text-gray-800 p-8">
      <span class="text-md font-bold mb-4">Estoque Local de Medicamentos</span>

      <div class="w-full  border-2 rounded-2xl p-4">

        <div  class="flex flex-col w-full" matSort (matSortChange)="tableSortEvent($event)" >
          <div class="text-sm lg:text-md flex flex-row w-full order-row h-14 justify-center items-center content-center border-b pdf-w-max">
            <div   class="flex  font-bold px-4 text-center justify-center items-center justify-items-center w-full" mat-sort-header="id">ID</div>
            <div  class="flex  font-bold px-4 text-center justify-center items-center justify-items-center w-full" mat-sort-header="name">Produto</div>
            <div   class="flex  font-bold px-4 text-center justify-center items-center justify-items-center w-full">Quantidade</div>
            <div   class="flex  font-bold px-4 text-center justify-center items-center justify-items-center w-full">Estoque</div>
            <div   class="flex  font-bold px-4 text-center justify-center items-center justify-items-center w-full">Municipio</div>
          </div>
          <div class="w-full max-h-64 overflow-y-auto overflow-x-hidden scrollbar-thin flex flex-col  text-sm lg:text-md">
            <div *ngFor="let item of medicaments">
              <div *ngIf="item.id != selectedMedicament.id" class="hover:cursor-pointer flex flex-row w-full min-h-12  text-gray-600 text-left text-xs order-row items-center justify-start content-center border-t " (click)="selectMedicament(item)">
               <div class="flex justify-center items-center justify-items-center  px-4 w-full">
                  {{item.id}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4 w-full">
                  {{item.produto}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.quantidade}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.estoque}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.municipio}}
                </div>
              </div>
              <div *ngIf="item.id == selectedMedicament.id" class=" flex flex-row w-full min-h-12 bg-gray-800  text-gray-100 text-left text-xs order-row items-center justify-start content-center border-t " >

                <div class="flex justify-center items-center justify-items-center  px-4 w-full">
                  {{item.id}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4 w-full">
                  {{item.produto}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.quantidade}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.estoque}}
                </div>
                <div class="flex justify-center items-center justify-items-center  px-4  w-full">
                  {{item.municipio}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-full items-end flex flex-row justify-end">

        <img class="w-24" src="assets/secretaria.png">
      </div>

    </div>
   <!-- <div *ngIf="false" class="flex flex-col w-1/2 h-full bg-gray-50 rounded-2xl shadow-xl text-gray-800 p-8">
      <span class="text-md font-bold mb-4">Edição de Medicamento</span>
      <div class="flex flex-col space-y-1">
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Nome:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.name"
            [placeholder]="'Informe o nome'">
        </div>
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Príncipio ativo:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.activePrinciple"
            [placeholder]="'Informe o príncipio ativo'">
        </div>
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Fornecedor:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.producer"
            [placeholder]="'Informe o fornecedor'">
        </div>
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Data de validade:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.validDate"
            type="date"
            [placeholder]="'Informe a data de validade'">
        </div>
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Preço:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.price"
            [placeholder]="'Informe o preço'">
        </div>
        <div class="w-full">
          <span class="text-sm font-bold text-gray-500">Forma farmacêutica:</span>
          <input
            matInput
            class="w-full text-sm text-left px-2 py-1  border-gray-600 bg-gray-200 rounded-md"
            [(ngModel)]="selectedMedicament.form"
            [placeholder]="'Informe a forma'">
        </div>
        <div class="w-full flex flex-col justify-center p-4 space-y-6 ">
          <button class="flex items-center bg-gray-800 hover:bg-gray-900 active:bg-gray-500 text-white font-semibold py-1 px-4 rounded-2xl"  type="button" [matTooltip]="'Create'" (click)="createMedicament()">
            <span class="text-sm">Criar Novo</span>
          </button>

          <div class="w-full flex flex-row justify-center space-x-2">
            <button class=" flex items-center border-gray-800 text-gray-800 border hover:bg-gray-100 active:bg-gray-200 font-semibold py-1 px-4 rounded-2xl"  type="button" [matTooltip]="'Update'" (click)="updateMedicament()">
              <span class="text-sm">Atualizar</span>
            </button>
            <button class="  flex items-center border-red-500 text-red-500 border hover:bg-gray-100 active:bg-gray-200 font-semibold py-1 px-4 rounded-2xl"  type="button" [matTooltip]="'Delete'" (click)="deleteMedicament()">
              <span class="text-sm">Deletar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
-->
  </div>
</div>
